% Manifest name: VSANPerfHcibench
% Manifest group: Storage
% Manifest default: Enabled
% Manifest tag: storage,vsanperfsvc
# action Options file/command


run TIMEOUT=180,IGNORE_ERROR python /usr/lib/vmware/vsan/perfsvc/vsan-perfsvc-status.pyc selective_with_dump -st START_TIME -et END_TIME
